@import url("https://fonts.googleapis.com/css?family=Work Sans");

:root {
    --background: #131a24;
    --darkest: #2C3D55;
    --dark: #3E4C5E;
    --mid: #536271;
    --dimgray: #6A687A;
    --lightgray: #84828F;
    --accent: #958ec4;
}

body {
    background-color: var(--background);
    font-family: "Work Sans", sans-serif;
    scroll-behavior: smooth;
    overflow: auto;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

html {
    height: 100%;
    overflow: auto;
    margin: 0;
}

@keyframes hcIn {
    0% {
        top: 0%;
        opacity: 0;
    }
    100% {
        top: 50%;
        opacity: 1;
    }
}

.home-container {
    width: 100%;
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

.home-container > div {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation: hcIn 1.2s;
}

.hc-wlc {
    color: lightgray;
    margin-bottom: 0;
}

.hc-wlct {
    font-size: 3.125em;
    margin-top: 10px;
    color: var(--accent);
}

.hc-abt {
    font-size: 18px;
    color: rgb(233, 204, 149);
}

.hc-socials {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.hcs-link > svg {
    height: 35px;
    width: 35px;
    fill: lightgray;
}

.hcs-link {
    text-decoration: none;
    color: transparent;
    margin-right: 10px;
    vertical-align: middle;
}

.hc-about-btn {
    height: 45px;
    width: 150px;
    border-radius: 20px / 20px;
    cursor: pointer;
    border: 2px solid var(--dimgray);
    background-color: transparent;
    font-size: 16px;
    color: lightgray;
    margin-top: 10px;
    font-family: "Work Sans", sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.about-container {
    width: 100%;
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
    padding-top: 130px;
    position: relative;
}

.skills-container {
    width: 100%;
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
    position: relative; 
    padding-top: 115px;
}

.contact-container {
    width: 100%;
    height: 46vh;
    text-align: center;
    box-sizing: border-box;
    position: relative; 
    background-color: rgb(40, 40, 40);
    padding-top: 20px;
}

.ac-abt, .sc-t {
    font-size: 2.125;
    color: var(--accent);
}

.ac-text {
    max-width: 40%;
    color: lightgray;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.8em;
    font-size: 1.06em;
}

@media (max-width: 480px) {
    .about-container {
        height: 120vh !important;
        padding-top: 40px;
    }

    .ac-text {
        max-width: 80% !important;
    }

    .sticky-top {
        width: 40vh !important;
    }

    #h_drop, #h_close {
        display: block !important;
    }

    #h_drop.hidden, #h_close.hidden {
        display: none !important;
    }

    .st-text {
        display: none;
    }

    #mobile-fill {
        display: block !important
    }

    .hidden {
        display: none !important;
    }

    .skills-container > #cont {
        left: 50% !important;
        width: 95% !important;
    }

    .sk-sec {
        width: 50% !important;
    }

    .sksec-title {
        margin-left: 33px !important;
    }

    .sksec-prog {
        margin-left: 33px !important;
    }

    .sk-sec > h1 {
        text-align: left !important;
        margin-left: 33px !important;
    }

    #integration-sk {
        width: 100% !important;
    }

    #integration-sk > h1 {
        margin-right: 24px !important;
    }

    .cc-fc {
        width: 90% !important;
        grid-template-columns: none !important;
        flex-flow: column !important;
        display: flex !important;
    }

    #ccf-d {
        order: 1 !important;
    }

    .cc-form {
        order: 2 !important;
    }

    .contact-container {
        height: 80vh !important;
    }

}

@media (max-width: 390px) {
    .skills-container {
        height: 125vh !important;
    }

    .contact-container {
        height: 90vh !important;
    }

    .about-container {
        height: 130vh !important;
    }
}



@media (max-width: 360px) {
    .about-container {
        height: 130vh !important;
    }

    .contact-container {
        height: 95vh !important;
    }

    .skills-container {
        height: 160vh !important;
    }

    .footer {
        height: 20vh !important;
    }
}

@media (max-width: 315px) {
    .about-container {
        height: 135vh !important;
    }

    .footer {
        height: 25vh !important;
    }

}

@media (max-width: 415px) {
    .skills-container {
        height: 135vh !important;
    }
}

@media (max-height: 700px) {
    .skills-container {
        height: 145vh !important;
    }

    .contact-container {
        height: 105vh !important;
    }

    .footer {
        height: 25vh !important;
    }
}

.ac-text.top-margin {
    margin-top: 20px;
}

.act-svg {
    height: 20px;
    width: 20px;
    fill: rgb(233, 204, 149);
    vertical-align: middle;
}

.act-sv-sp {
    vertical-align: middle;
    margin-left: 5px;
    color: rgb(233, 204, 149);
}

.footer {
    background-color: #1c1c1c;
    height: 15vh;
    width: 100%;
    position: relative;
    color: lightgray;
    text-align: center;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer > * {
    margin: 10px 10px 0 0;
}

.ft-b {
    background-color: black;
    border-radius: 10px / 10px;
    border: none;
   
    
}

.footer > p > a > svg {
    fill: lightgray;
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    margin-bottom: 10px;
    transition: .2s;
}

.footer > p > a > svg:hover {
    fill: rgb(233, 204, 149);
}

.ft-link {
    color: lightgray;
    font-size: 14px;
}

.sticky-top {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 60vh;
    height: 55px;
    border: 1px solid var(--accent);
    border-radius: 50px / 50px;
    background-color: #ffffff1f;
    backdrop-filter: blur(10px);
    opacity: 1;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.st-text {
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    color: lightgray;
    text-decoration: none;
}

.st-text > svg {
    height: 16px;
    width: 16px;
    margin-right: 5px;
    vertical-align: middle;
    fill: rgb(233, 204, 149)
}

.st-text > span {
    vertical-align: middle;
}

#hc-down {
    height: 25px;
    fill: lightgray;
    margin-top: 25px;
}

#h_drop, #h_close {
    display: none;
    height: 16px;
    width: 16px;
    margin-right: 5px;
    vertical-align: middle;
    fill: rgb(233, 204, 149);
    position: absolute;
    right: 22px;
}

#mobile-fill {
    display: none;
    color: rgb(233, 204, 149);
}

.hidden {
    display: none !important;
}

#sticky-drop {
    display: none;
    position: fixed;
    top: calc(20px + 55px + 20px);
    width: 30vh;
    background-color: var(--dark);
    z-index: 1000;
    height: 10vh;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 10px / 10px;
    text-align: center;
    padding-top: 20px;
}

.sk-sec {
    width: 30%;
    float: left;
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sk-sec > h1 {
    font-size: 20px;
    color: rgb(233, 204, 149);
    text-align: center;
}

.skills-container > #cont {
    position: absolute;
    left: 68%;
    transform: translate(-50%, 0%);
    width: 85%;
    justify-content: center;
    height: 80%;
}

.sksec-title {
    font-size: 16px;
    color: lightgray;
    text-align: left;
    margin-left: 60px;
}

.sksec-prog {
    width: 70%;
    height: 20px;
    border-radius: 10px / 10px;
    overflow: hidden;
    background-color: var(--dimgray);
    margin-left: 60px;
}

.sksec-prog > .fill {
    background-color: var(--accent);
    height: 100%;
}

#skills > #cont > .sk-sec > p {
    color: lightgray;
}

#integration-sk {
    clear: left; 
    margin-left: auto; 
    margin-right: auto; 
    width: 58%; 
    text-align: center; 
    display: block;
}

#integration-sk > h1 {
    text-align: center !important;
    margin: 0;
}

.cc-t {
    color: white;
    margin-top: 10px;
}

.cc-t > svg {
    vertical-align: middle;
    height: 1.2em;
    fill: white;
    margin-right: 10px;
}

.cc-t > span {
    vertical-align: middle;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue;
    font-size: 28px;
}

.cc-form {
    display: grid;
    row-gap: 1rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    margin-top: 25px;
}

#cc-name-inp, #cc-email-inp {
    width: 90%;
    height: 40px;
    border-radius: .375rem;
    border: none;
    background-color: rgb(80, 80, 80);
    padding-left: 15px;
    box-sizing: border-box;
    outline: 0;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue;
    color: #e5e5e5;
    font-size: 15px;
    transition: .25s;
}

#cc-message-inp {
    width: 90%;
    border-radius: .355rem;
    border: none;
    background-color: rgb(80, 80, 80);
    padding-left: 15px;
    padding-top: 15px;
    box-sizing: border-box;
    outline: 0;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue;
    color: #e5e5e5;
    font-size: 15px;
    height: 160px;
    transition: .25s;
}

#cc-name-inp:focus, #cc-email-inp:focus, #cc-message-inp:focus {
    box-shadow: 3.0px 5.0px 5.0px hsl(0deg 0% 0% / 0.38);
}

.ccf-send {
    height: 40px;
    width: 150px;
    border-radius: 15px / 15px;
    cursor: pointer;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue;
    border: none;
    background-color: rgb(233, 189, 108);
    transition: .25s;
    font-weight: bold;
    color: black;
}

.ccf-send:hover {
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    background-color: rgb(233, 204, 149);
}

.cc-fc {
    display: grid;
    column-gap: 15px;
    grid-template-columns:repeat(2,minmax(0,1fr));
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.cc-fc > div, .cc-fc > form {
    flex-direction: column;
    display: flex;
    height: 80%;
}

.ccf-desc {
    color: lightgray;
    text-align: left;
    line-height: 1.5em;
}

.ccf-desc > svg {
    height: 25px;
    width: 25px;
    fill: lightgray;
    vertical-align: middle;
}

.ccf-desc > span {
    vertical-align: middle;
    margin-left: 10px;
    font-size: 17px;
}

.ccf-desc.cfl {
    cursor: pointer;
    text-decoration: none;
    color: lightgray;
}

.ccf-desc.cfl:hover {
    color: white;
}

.ccf-desc.cfl:hover > svg {
    fill: white;
} 

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background: var(--darkest);
    border-radius: 5px / 5px;
}
  
::-webkit-scrollbar-thumb {
    background: var(--dimgray);
    border-radius: 5px / 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}

textarea::-webkit-scrollbar-track {
    background-color: rgb(40, 40, 40);
}

textarea::-webkit-scrollbar-track, textarea::-webkit-scrollbar-thumb  {
    cursor: default;
}

#inv-field, #rq-failed {
    padding: 8px;
    border: 1.5px solid red;
    color: lightgray;
    width: 65%;
    margin-top: 45px;
    border-radius: 2px;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inv-field > span, #rq-failed > span {
    vertical-align: middle;
    margin-left: 8px;
}

#inv-field > svg, #rq-failed > svg {
    vertical-align: middle;
    height: 21px;
    fill: red;
    margin-top: 2px;
}

.bounceright {
    animation: bounceInRight 1s;
}

.ccf-send.disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.drop-opt {
    cursor: pointer;
    color: lightgray;
    text-decoration: none;
    font-size: 21px;
    margin: 10px;
}

.drop-opt > span {
    vertical-align: middle;
}

.drop-opt > svg {
    vertical-align: middle;
    height: 16px;
    fill: rgb(233, 204, 149)    
}