@import url("https://fonts.googleapis.com/css?family=Work Sans");

:root {
    --background: #131a24;
    --darkest: #2C3D55;
    --dark: #3E4C5E;
    --mid: #536271;
    --dimgray: #6A687A;
    --lightgray: #84828F;
    --accent: #958ec4;
}

body {
    background-color: var(--background);
    font-family: "Work Sans", sans-serif;
    scroll-behavior: smooth;
    overflow: auto;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

html {
    height: 100%;
    overflow: auto;
    margin: 0;
}

@keyframes hcIn {
    0% {
        top: 0%;
        opacity: 0;
    }
    100% {
        top: 50%;
        opacity: 1;
    }
}

.home-container {
    width: 100%;
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

.home-container > div {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation: hcIn 1.2s;
}

.hc-wlc {
    color: lightgray;
    margin-bottom: 0;
}

.hc-wlct {
    font-size: 3.125em;
    margin-top: 10px;
    color: var(--accent);
}

.hc-abt {
    font-size: 18px;
    color: rgb(233, 204, 149);
}

.hc-socials {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.hcs-link > svg {
    height: 35px;
    width: 35px;
    fill: lightgray;
}

.hcs-link {
    text-decoration: none;
    color: transparent;
    margin-right: 10px;
    vertical-align: middle;
}

.hc-about-btn {
    height: 45px;
    width: 150px;
    border-radius: 20px / 20px;
    cursor: pointer;
    border: 2px solid var(--dimgray);
    background-color: transparent;
    font-size: 16px;
    color: lightgray;
    margin-top: 10px;
    font-family: "Work Sans", sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.about-container {
    width: 100%;
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
    padding-top: 130px;
    position: relative;
}

.skills-container {
    width: 100%;
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
    position: relative; 
    padding-top: 130px;
}

.ac-abt, .sc-t {
    font-size: 2.125;
    color: var(--accent);
}

.ac-text {
    max-width: 40%;
    color: lightgray;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.8em;
    font-size: 1.06em;
}

@media (max-width: 480px) {
    .about-container {
        height: 120vh !important;
        padding-top: 40px;
    }

    .ac-text {
        max-width: 80% !important;
    }

    .sticky-top {
        width: 40vh !important;
    }

    #h_drop, #h_close {
        display: block !important;
    }

    #h_drop.hidden, #h_close.hidden {
        display: none !important;
    }

    .st-text {
        display: none;
    }

    #mobile-fill {
        display: block !important
    }

    .hidden {
        display: none !important;
    }
}

@media (max-width: 350px) {
    .about-container {
        height: 130vh !important;
    }
}

@media (max-width: 315px) {
    .about-container {
        height: 135vh !important;
    }
}


.ac-text.top-margin {
    margin-top: 20px;
}

.act-svg {
    height: 20px;
    width: 20px;
    fill: rgb(233, 204, 149);
    vertical-align: middle;
}

.act-sv-sp {
    vertical-align: middle;
    margin-left: 5px;
    color: rgb(233, 204, 149);
}

.footer {
    background-color: rgb(40, 40, 40);
    height: 15vh;
    width: 100%;
    position: relative;
    color: lightgray;
    text-align: center;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer > * {
    margin: 10px 10px 0 0;
}

.ft-b {
    background-color: black;
    border-radius: 10px / 10px;
    border: none;
    height: 35px;
    width: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}

.ft-b > svg {
    fill: lightgray;
}

.ft-link {
    color: lightgray;
    font-size: 14px;
}

.sticky-top {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 60vh;
    height: 55px;
    border: 1px solid var(--accent);
    border-radius: 50px / 50px;
    background-color: #ffffff1f;
    backdrop-filter: blur(10px);
    opacity: 1;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.st-text {
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    color: lightgray;
    text-decoration: none;
}

.st-text > svg {
    height: 16px;
    width: 16px;
    margin-right: 5px;
    vertical-align: middle;
    fill: rgb(233, 204, 149)
}

.st-text > span {
    vertical-align: middle;
}

#hc-down {
    height: 25px;
    fill: lightgray;
    margin-top: 25px;
}

#h_drop, #h_close {
    display: none;
    height: 16px;
    width: 16px;
    margin-right: 5px;
    vertical-align: middle;
    fill: rgb(233, 204, 149);
    position: absolute;
    right: 22px;
}

#mobile-fill {
    display: none;
    color: rgb(233, 204, 149);
}

.hidden {
    display: none !important;
}

#sticky-drop {
    display: none;
    position: fixed;
    top: calc(20px + 55px + 20px);
    width: 30vh;
    background-color: var(--dark);
    z-index: 1000;
    height: 40vh;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 10px / 10px;
}

.sk-sec {
    width: 30%;
    float: left;
    display: grid;
    margin-top: 20px;
}

.sk-sec > h1 {
    font-size: 20px;
    color: rgb(233, 204, 149);
    text-align: center;
}

.skills-container > #cont {
    position: absolute;
    left: 68%;
    transform: translate(-50%, 0%);
    width: 85%;
    justify-content: center;
    height: 80%;
}

.sksec-title {
    font-size: 16px;
    color: lightgray;
    text-align: left;
    margin-left: 60px;
}

.sksec-prog {
    width: 70%;
    height: 20px;
    border-radius: 10px / 10px;
    overflow: hidden;
    background-color: var(--dimgray);
    margin-left: 60px;
}

.sksec-prog > .fill {
    background-color: var(--accent);
    height: 100%;
}