@import url("https://fonts.googleapis.com/css?family=Work Sans");

:root {
    --background: #131a24;
    --darkest: #2C3D55;
    --dark: #3E4C5E;
    --mid: #536271;
    --dimgray: #6A687A;
    --lightgray: #84828F;
    --accent: #958ec4;
}

body {
    background-color: var(--background);
    font-family: "Work Sans", sans-serif;
    scroll-behavior: smooth;
    text-align: center;
}

h1 {
    margin-top: 12%;
    color: var(--accent);
}

.l-text {
    color: lightgray;
    font-size: 16px;    
}

.footer {
    background-color: rgb(40, 40, 40);
    height: 15vh;
    width: 100%;
    position: relative;
    color: lightgray;
    text-align: center;
    padding-top: 15px;
    bottom: 0;
    left: 0;
    position: fixed;
    box-sizing: border-box;
}

.ft-b {
    background-color: black;
    border-radius: 10px / 10px;
    border: none;
    height: 35px;
    width: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}

.ft-b > svg {
    fill: lightgray;
}

.ft-link {
    color: lightgray;
    font-size: 14px;
}

.lt-cont {
    background-color: #2b2d31;
    max-width: 45%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 10px;
    border-radius: 10px / 10px;
    border: 2px solid #1e1f22;
    font-family: monospace;
}

@media (max-width: 480px) {
    .footer {
        height: 12vh;
        padding-top: 0px !important;
    }
    .lt-cont {
        max-width: 90% !important;
    }
    .ft-link {
        display: none;
    }
}