@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Noto%20Sans");
@import url("https://fonts.googleapis.com/css?family=Lato");

:root {
    --bg: #3a3b3a;
    --tobarBg: #aa6337;
    --poppins: 'Poppins', serif;
    --notosans: 'Noto Sans', serif;
}

body {
    opacity: 0;
    transition: opacity 1s;
}

.topBar {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 55px;
    border-bottom: 1px solid black;
    padding-left: 15px;
    overflow-x: hidden;
}

#titleUrl {
    font-family: var(--notosans);
    font-size: 22px;
    font-weight: 150;
    cursor: pointer;
}

.topBarOption {
    font-family: var(--poppins);
    color: gray;
    cursor: pointer;
    margin-left: 50px;
    font-size: 16px;
    transition: .5s;
}

.topBarOption:hover {
    color: black;
}

#container1 {
    position: absolute;
    transform: translate(0%, -50%);
    top: 50%;
}

#mainBody {
    position: fixed;
    width: 100%;
    top: 55px;
    left: 0%;
    padding-left: 35px;
    overflow-x: hidden;
    font-family: var(--poppins);
}

#mainBody h1 {
    font-family: var(--notosans);
    color: rgb(0, 119, 255);
}

.selectedOption {
    color: rgb(0, 119, 255);
}